<!-- <ion-header *ngIf="hideHeader$ | async" [@slideInOut]> -->
<ion-header>
  <ng-container *ngIf="days$ | async as days">
    <ion-toolbar color="primary">
      <ion-segment scrollable mode="md" (ionChange)="onDayFilterChange($event)" [value]="selectedDay$ | async">
        <ion-segment-button *ngFor="let day of days" [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="events$ | async as events">
    <ion-toolbar color="secondary">
      <ion-segment scrollable mode="md" (ionChange)="onEventFilterChange($event)" [value]="selectedEvent$ | async">
        <ion-segment-button *ngFor="let event of events" [value]="event.id">
          <ion-label>{{event.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <app-map></app-map>
</ion-content>