<ion-header>
  <ion-toolbar color="primary">
    <ion-segment scrollable mode="md" (ionChange)="onDayFilterChange($event)">
      <ion-segment-button *ngFor="let day of days$ | async" [value]="day.id">
        <ion-label>{{day.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Day">
          <ion-select-option *ngFor="let day of days$ | async" [value]="day.id">{{day.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map></app-map>
</ion-content>