ion-tab-bar {
  --color-selected: var(--ion-color-primary);
  --color: var(--ion-color-medium);

  ion-tab-button {
    --color-selected: var(--ion-color-primary);
    --color: var(--ion-color-medium);
  }
}

app-sidebar {
  height: 100%;
}
