<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDayGroupedFavorites()">
        <ion-icon slot="icon-only"
                  [name]="(showDayGroupedFavorites$ | async) ? 'list-outline' : 'calendar-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="favoriteArtists$ | async as favoriteArtists">
    <ng-container *ngIf="(showDayGroupedFavorites$ | async) === false">
      <ion-list>
        <ion-item *ngFor="let artist of favoriteArtists; let i = index ; trackBy:trackArtist"
                  [style.--animation-order]="i">

          <ion-avatar slot="start">
            <img [src]="artist.imgUrl" />
          </ion-avatar>

          <ion-label [routerLink]="['/tabs', 'artist', artist.name]">{{artist.name}}</ion-label>

          <div slot="end"
               (click)="toggleFavorite(artist.id)">
            <ion-icon slot="icon-only"
                      name="close"></ion-icon>
          </div>
        </ion-item>
      </ion-list>

      <p *ngIf="favoriteArtists.length === 0"
         class="ion-text-center">
        No favorites added
      </p>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="dayGroupedFavorites$ | async as dayGroupedFavorites">
    <ng-container *ngIf="showDayGroupedFavorites$ | async">
      <ion-item-group *ngFor="let group of dayGroupedFavorites; let i = index; trackBy:trackDay"
                      [style.--animation-order]="i">
        <ion-item-divider sticky="true"
                          color="medium">
          <ion-label>{{group.day.name}}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let artist of group.artists; trackBy:trackArtist">

          <ion-avatar slot="start">
            <img [src]="artist.imgUrl" />
          </ion-avatar>

          <ion-label [routerLink]="['/tabs', 'artist', artist.name]">
            <h3>
              <span class="artist-name">{{artist.name}}</span>
              <span class="time">
                {{artist.timetable[0]?.start_time | date:'HH:mm'}} -
                {{artist.timetable[0]?.end_time | date:'HH:mm'}}
              </span>
            </h3>
            <p *ngIf="artist.timetable[0] as timetable">{{timetable.stage.event.name}} | {{timetable.stage.name}}</p>
          </ion-label>

          <div slot="end"
               (click)="toggleFavorite(artist.id)">
            <ion-icon slot="icon-only"
                      name="close">
            </ion-icon>
          </div>
        </ion-item>
      </ion-item-group>

      <p *ngIf="dayGroupedFavorites.length === 0"
         class="ion-text-center">
        No favorites added
      </p>
    </ng-container>
  </ng-container>
</ion-content>