<ion-header>
  <ion-toolbar color="primary"
               mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="open-event-type-modal">
        Event types
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="events$ | async as events">
    <app-event-card *ngFor="let event of events"
                    [event]="event">
    </app-event-card>
  </ng-container>

  <ion-modal trigger="open-event-type-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>
            Event types
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
              <ion-icon slot="icon-only"
                        name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <section class="ion-padding ion-text-center">
          <p>Select event types below to se info</p>
        </section>
        <ng-container *ngIf="eventTypes$ | async as eventTypes">
          <ion-accordion-group class="">
            <ion-accordion *ngFor="let eventType of eventTypes">
              <ion-item slot="header"
                        [style.--background]="eventType.color ? eventType.color : 'gray'">
                <ion-label color="dark">
                  <h2>{{eventType.name}}</h2>
                </ion-label>
              </ion-item>
              <div class="content ion-padding"
                   slot="content"
                   [style.background-color]="eventType.color">
                <p>{{eventType.description}}</p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>