.timetable {
    height: 100%;
    background: var(--ion-color-secondary);
    background: linear-gradient(180deg, rgba(var(--ion-color-secondary-rgb), 0.6) 51%, var(--ion-color-secondary) 100%);
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(calc(var(--template-columns) * 60), 2.5px);
    grid-template-rows: [time-labels] 40px repeat(var(--template-rows), 27px);
    grid-auto-rows: 27px;
    grid-gap: 5px 0;

    .time-label {
        grid-row: time-labels;
        grid-column: var(--time-label-column-start) / var(--time-label-column-end);
        color: gray;
        background-color: rgba(var(--ion-color-medium-contrast-rgb), 0.3);
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .current-time {
        grid-column: var(--current-time-column-start) / span 1;
        grid-row: 1 / -1;
        background-color: whitesmoke;
    }

    .vertical-time-line {
        grid-column: var(--time-label-column-start) / span 1;
        grid-row: 1 / -1;
        border-left: 1px solid rgb(174, 174, 174);
    }

    .event-label {
        grid-column: 2 / -1;
        grid-row: var(--event-label-row-start) / span 2;
        background-color: rgba(var(--ion-color-medium-rgb), 0.5);
        display: flex;
        align-items: center;

        span {
            position: sticky;
            left: 35%;
            color: white;
            font-size: larger;
        }
    }

    .event {
        grid-column: 1 / -1;
        grid-row: var(--event-row-start) / var(--event-row-end);
    }

    .stage {
        grid-column: 5 / -1;
        grid-row: calc(var(--stage-row-start) + 2) / span 1;
        align-self: end;

        span {
            padding: 5px 10px;
            border-radius: 10px 10px 2px 2px;
            position: sticky;
            left: 10px;
            background-color: rgba(var(--ion-color-tertiary-rgb), .8);
        }
    }

    .act {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        border-radius: 25px;
        grid-column: var(--act-column-start) / var(--act-column-end);
        grid-row: var(--act-row-start) / span 2;

        .act-content {
            height: 100%;
            display: flex;
            align-items: center;

            .act-sticky {
                position: sticky;
                left: 10px;
                margin-left: 20px;
                display: flex;
                align-items: center;

                p,
                h6 {
                    margin: 0;
                }

                p {
                    color: rgb(205, 205, 205);
                    font-size: small;
                }

                ion-icon {
                    font-size: x-large;
                    margin: 0 10px;
                }
            }
        }
    }
}