// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FC3F68;
  --ion-color-primary-rgb: 252, 63, 104;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #de375c;
  --ion-color-primary-tint: #fc5277;

  --ion-color-secondary: #1ebeb8;
  --ion-color-secondary-rgb: 30, 190, 184;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #1aa7a2;
  --ion-color-secondary-tint: #35c5bf;

  --ion-color-tertiary: #a45ca8;
  --ion-color-tertiary-rgb: 164, 92, 168;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #905194;
  --ion-color-tertiary-tint: #ad6cb1;

  --ion-color-success: #008632;
  --ion-color-success-rgb: 0, 134, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00762c;
  --ion-color-success-tint: #1a9247;

  --ion-color-warning: #ffe95c;
  --ion-color-warning-rgb: 255, 233, 92;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0cd51;
  --ion-color-warning-tint: #ffeb6c;

  --ion-color-danger: #ff8f9e;
  --ion-color-danger-rgb: 255, 143, 158;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e07e8b;
  --ion-color-danger-tint: #ff9aa8;

  --ion-color-medium: #48395b;
  --ion-color-medium-rgb: 72, 57, 91;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3f3250;
  --ion-color-medium-tint: #5a4d6b;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-favorite: #ff7f7f;
  --ion-color-favorite-rgb: 255, 127, 127;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0, 0, 0;
  --ion-color-favorite-shade: #e07070;
  --ion-color-favorite-tint: #ff8c8c;

  // Background
  --ion-background-color: #32305A;
  --ion-background-color-rgb: 50, 48, 90;
  --ion-background-color-tint: #47456b;
  --ion-background-color-shade: #2c2a4f;

  --ion-font-family: 'Anuphan', sans-serif;
  --ion-text-color: #F8F1EE;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #4d4949;
  --ion-color-step-100: #575252;
  --ion-color-step-150: #605c5c;
  --ion-color-step-200: #696565;
  --ion-color-step-250: #736f6f;
  --ion-color-step-300: #7c7979;
  --ion-color-step-350: #858282;
  --ion-color-step-400: #8f8c8c;
  --ion-color-step-450: #989595;
  --ion-color-step-500: #a29f9f;
  --ion-color-step-550: #aba9a9;
  --ion-color-step-600: #b4b2b2;
  --ion-color-step-650: #bebcbc;
  --ion-color-step-700: #c7c5c5;
  --ion-color-step-750: #d0cfcf;
  --ion-color-step-800: #dad9d9;
  --ion-color-step-850: #e3e2e2;
  --ion-color-step-900: #ececec;
  --ion-color-step-950: #f6f5f5;

  --ion-item-background: var(--ion-background-color);

  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-background-shade: var(--ion-background-color-shade);
  --ion-toolbar-background-tint: var(--ion-background-color-tint);

  --ion-tab-bar-background: var(--ion-background-color);
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}