<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Artists</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorites()">
        favorites
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch$ | async" color="medium">
    <ion-searchbar #search mode="ios" debounce="0" [formControl]="searchTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <!-- <ng-container *ngIf="groupedArtists$ | async as groupedArtists">
    <ion-item-group *ngFor="let group of groupedArtists; trackBy:trackGroupedArtist">
      <ion-item-divider sticky="true" color="light">
        <ion-label>{{group.letter}}</ion-label>
      </ion-item-divider>
      <app-artist-card *ngFor="let artist of group.artists; let i = index" [style.--animation-order]="i"
        [artist]="artist">
      </app-artist-card>
    </ion-item-group>
  </ng-container> -->

  <ng-container *ngIf="filteredArtists$ | async as artists; else loading">
    <app-artist-card *ngFor="let artist of artists; trackBy:trackArtist; let i = index" [style.--animation-order]="i"
      [artist]="artist"></app-artist-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>

<ion-menu side="end" type="overlay" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button (click)="toggleFavorites()">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Favorites</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container *ngIf="favoriteArtists$ | async as favoriteArtists">
      <ion-list>
        <ion-item *ngFor="let artist of favoriteArtists; let i = index" [style.--animation-order]="i">
          <ion-label [routerLink]="['./', artist.id]">{{artist.name}}</ion-label>
          <div slot="end" (click)="addRemoveFavorites(artist.id)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </div>
        </ion-item>
      </ion-list>

      <p *ngIf="favoriteArtists.length === 0" class="ion-text-center">
        No favorites added
      </p>
    </ng-container>
  </ion-content>
</ion-menu>