<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Artists</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorites()">
        <ion-icon slot="icon-only" [color]="(showFavorites$ | async) ? 'primary' : ''"
          [name]="(showFavorites$ | async) ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch$ | async" color="medium">
    <ion-searchbar [formControl]="searchTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="groupedArtists$ | async as artists">
    <ng-container *ngIf="favorites$ | async as favorites">
      <ion-item-group *ngFor="let artist of artists">
        <ion-item-divider sticky="true" color="light">
          <ion-label>{{artist.letter}}</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let art of artist.artists">
          <ion-avatar slot="start">
            <img [src]="imgUrl(art.storage_path)" />
          </ion-avatar>
          <ion-label [routerLink]="['./', art.id]">
            <h2>
              {{art.name}}
            </h2>
            <p *ngIf="art.timetable[0]">
              {{art.timetable[0].day.name}} |
              {{art.timetable[0].start_time | date:'HH:mm'}} |
              {{art.timetable[0].stage.name}}
            </p>
            <p *ngIf="!art.timetable[0]">
              -
              <!-- {{art.description}} -->
            </p>
          </ion-label>
          <div slot="end" class="actions">
            <ion-icon slot="icon-only" [color]="isFavorite(art.id, favorites.artists) ? 'primary' : ''" [name]="isFavorite(art.id, favorites.artists) ? 'heart' : 'heart-outline'" (click)="addRemoveFavorites(art.id)"></ion-icon>
          </div>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ng-container>
</ion-content>