ion-content {
  .transport-container {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      .logo {
        height: 150px;
        display: flex;
        align-items: flex-end;

        div {
          img {
            height: 45px;
            display: block;
          }

          p {
            color: lightgray;
          }
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        h4 {
          text-align: center;
        }

        p {
          margin: 0;
          text-align: center;

          span {
            color: #1ee664;
          }
        }
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      ion-button {
        text-transform: unset;

        &.voucher {
          width: fit-content;

          ion-icon {
            margin-left: 7px;
          }
        }

        &.cta-button {
          width: 250px;
          height: 45px;
          font-size: large;
          --background: #1ee664;
          color: black;
        }
      }
    }

    .terms {
      padding: 10px;
      color: rgb(200, 200, 200);
      text-align: center;
      font-size: smaller;
    }

    sup {
      font-size: larger;
    }
  }
}
