<ion-tabs (ionTabsDidChange)="onTabChange($event)" id="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="routeName.Artist">
      <ion-icon
        [name]="(currentTab$ | async) === tabName.Artist ? 'musical-notes' : 'musical-notes-outline'"
      ></ion-icon>
      <ion-label>Artists</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Timetable">
      <ion-icon
        [name]="(currentTab$ | async) === tabName.Timetable ? 'calendar' : 'calendar-outline'"
      ></ion-icon>
      <ion-label>Timetable</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Favorite">
      <ion-icon
        [name]="(currentTab$ | async) === tabName.Favorite ? 'heart' : 'heart-outline'"
      ></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Map">
      <ion-icon
        [name]="(currentTab$ | async) === tabName.Map ? 'location' : 'location-outline'"
      ></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openSidebar()">
      <ion-icon
        [name]="(currentTab$ | async) === tabName.Favorite ? 'ellipsis-horizontal' : 'ellipsis-horizontal-outline'"
      ></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-menu contentId="tabs" swipeGesture="false" type="overlay">
  <app-sidebar></app-sidebar>
</ion-menu>
