<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map" icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>GADEARMBÅND</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img
    src="assets/gadearmbaand.jpeg"
    alt="Image of people to at street party"
    class="image"
  />
  <div class="ion-padding">
    <h4>
      <ion-text color="secondary">
        SUPPORT DISTORTION THROUGH GADEARMBÅND — GET EXCLUSIVE PERKS AND CREATE
        GOOD VIBES AT THE STREET PARTY
      </ion-text>
    </h4>
    <br />
    <p>
      Because of YOU and your support throughout the years, Distortion can
      continue to celebrate Copenhagen! With the support-bracelets called
      ‘Gadearmbånd’ you help us celebrate Copenhagen streetlife and will get
      exclusive perks and free karma in return. With your help we can have even
      more events as long table dinners, pop-up celebrations, stages for new
      musical talents to perform as well as supporting your local shops and
      zealots - ultimately creating an improved street party for the years to
      come.
    </p>
    <p>As a thank you for the supporting Distortion, for 100 kr. you get:</p>
    <ul>
      <li>
        <ion-text color="primary"><b>15% on Tuborg</b></ion-text> in the bars
      </li>
      <li>
        Exclusive access to
        <ion-text color="primary"><b>Balcony Rides</b></ion-text> at Dronning
        Louises Bro
      </li>
      <li>
        Exclusive access to
        <ion-text color="primary"><b>Water Fountain</b></ion-text>
      </li>
      <li>
        Half price on
        <ion-text color="primary"><b>Silent Disco</b></ion-text> at Blågårds
        Plads
      </li>
      <li>
        Half price on an
        <ion-text color="primary"><b>Fresh Cut</b></ion-text> at the Hair Wheel
        of Doom at Elmegade 13
      </li>
      <li>More perks will soon be announced...</li>
    </ul>
    <p>
      You can buy the Gadearmbånd at the Distortion bars, and at our welcome
      portals at Dronning Louises Bro and Nørrebros Runddel.
    </p>
    <p>
      We cannot wait to be together for a celebration of streetlife in Nørrebro
      and new music of Copenhagen at Distortion with YOU!
    </p>
  </div>
</ion-content>
