<app-toolbar title="Icon"></app-toolbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <form (ngSubmit)="signIn()" [formGroup]="credentials">
      <div>
        <ion-item>
          <ion-input
            type="email"
            placeholder="Email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(email?.dirty || email?.touched) && email?.errors"
          class="errors"
        >
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['email']">Email is invalid</span>
        </div>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Password"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="(password?.dirty || password?.touched) && password?.errors"
          class="errors"
        >
          <span *ngIf="password?.errors?.['required']"
            >Password is required</span
          >
          <span *ngIf="password?.errors?.['minlength']"
            >Password needs to be 6 characters</span
          >
        </div>
      </div>

      <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
        >Login</ion-button
      >
    </form>
  </div>
</ion-content>
