.filter-events-container {

    // Hide scrollbar
    ion-segment {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    ion-segment-button {
        --color-checked: var(--ion-color-secondary);
    }

    .event-type-filter {
        ion-label {
            margin: 0;
        }

        .event-type-color {
            margin-top: 2px;
            width: 50px;
            height: 6px;
            border-radius: 3px;
        }
    }

    .event-filter {
        ion-segment-button {
            --color: rgb(40, 40, 40);
            --color-checked: black;
            --indicator-color: black;
        }
    }
}