<ion-header>
  <app-filter-events></app-filter-events>
  <!-- <ng-container *ngIf="days$ | async as days">
    <ion-toolbar>
      <ion-segment scrollable
                   mode="md"
                   (ionChange)="onDayFilterChange($event)"
                   [value]="selectedDayId$ | async">
        <ion-segment-button *ngFor="let day of days"
                            [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="eventTypes$ | async as eventTypes">
    <ion-toolbar color="tertiary">
      <ion-segment scrollable
                   mode="md"
                   (ionChange)="onEventTypeFilterChange($event)"
                   [value]="selectedEventTypeId$ | async">
        <ion-segment-button *ngFor="let eventType of eventTypes"
                            [value]="eventType.event_type_id">
          <ion-label>{{eventType.event_type_name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container> 

  <ng-container *ngIf="events$ | async as events">
    <ion-toolbar color="medium">
      <ion-segment scrollable
                   mode="md"
                   (ionChange)="onEventFilterChange($event)"
                   [value]="selectedEventId$ | async">
        <ion-segment-button *ngFor="let event of events"
                            [value]="event.event_id">
          <ion-label>{{event.event_type_name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container> -->
</ion-header>

<ion-content #content [ngSwitch]="selectedEventId$ | async">
  <ng-container *ngIf="(selectedEventId$ | async) as selectedEventId">
  <ng-container *ngIf="(timetableViewMode$ | async) === 'gantt'">
    <app-timetable-gantt></app-timetable-gantt>
  </ng-container>
  <ng-container *ngIf="(timetableViewMode$ | async) === 'list'">
    <app-timetable-list></app-timetable-list>
  </ng-container>

  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="onToggleTimetableView()">
      <ion-icon [name]="(timetableViewMode$ | async) === 'list' ? 'calendar-outline' : 'list'"></ion-icon>
      <!-- <ion-icon src="assets/ui-icons/gantt.svg"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</ng-container>
</ion-content>