<ion-card [style.--background]="'url(' + imgUrl(artist.storage_path) + ')'">

  <div class="card-content">

    <div class="card-text" [routerLink]="['./', artist.id]">
      <h3>
        {{artist.name}}
      </h3>
      <p *ngIf="artist.timetable[0]">
        {{artist.timetable[0].day.name}} |
        {{artist.timetable[0].start_time | date:'HH:mm'}} |
        {{artist.timetable[0].stage.name}}
      </p>
    </div>

    <div slot="end" class="card-actions">
      <ion-icon slot="icon-only" [color]="isFavorite(artist.id) ? 'primary' : ''"
        [name]="isFavorite(artist.id) ? 'heart' : 'heart-outline'" (click)="addRemoveFavorites(artist.id)"></ion-icon>
    </div>
  </div>

</ion-card>