<ng-container *ngIf="asset$ | async as asset; else loading;">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{asset.properties.name}}
      </ion-title>

      <ion-buttons slot="end">  
        <ng-container *ngIf="location$ | async as location">
          <ion-button (click)="onOpenGoogleMapsDirections(location)">
            <ion-icon slot="icon-only"
                      name="compass-outline"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    {{asset.properties.description}}
  </ion-content>

</ng-container>

<ng-template #loading>

</ng-template>