<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ng-container *ngIf="userMetaData$ | async as userMeta; else login">
      <ion-avatar class="ion-margin">
        <img [src]="userMeta.avatar_url" />
      </ion-avatar>
      <h1 class="ion-text-center">
        {{userMeta.name}}
      </h1>
    </ng-container>

    <ng-template #login>
      <p>Login to view your profile</p>
      <ion-button color="light"
                  fill="outline"
                  routerLink="/login">
        Login
      </ion-button>
    </ng-template>
  </div>

</ion-content>