<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      [defaultHref]="previousRoute$ | async"
      icon="chevron-back"
      slot="start"
    >
    </ion-back-button>
    <ion-title>Transport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="transport-container">
    <div class="content">
      <div class="logo">
        <div>
          <img src="assets/partners/viggo.webp" alt="Viggo taxa logo" />
          <p>Official transportation partner</p>
        </div>
      </div>

      <div class="text">
        <h4>
          Get 50 kr. for your first Viggo-ride
          <ion-text color="primary">*</ion-text>
        </h4>
        <br />
        <br />
        <p>💰 Copy voucher code</p>
        <p>📱 Download the app</p>
        <p>🟢 Enter voucher code</p>
        <p>🚕 Book your <span>green</span> ride</p>
      </div>
    </div>

    <div class="action-buttons">
      <ion-button
        (click)="onCopyVoucherCode()"
        id="copy-voucher"
        class="voucher"
        color="secondary"
        fill="outline"
      >
        {{viggoVoucherCode}}
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>

      <br />

      <ion-button class="cta-button" (click)="onGoToViggo()">
        Download Viggo app
      </ion-button>
    </div>

    <div class="terms">
      <p>
        <ion-text color="primary">*</ion-text> Voucher is only valid for new
        users.
      </p>
    </div>
  </div>

  <ion-toast
    color="secondary"
    position="top"
    icon="copy-outline"
    trigger="copy-voucher"
    message="Vourcher code copied to clipboard"
    [duration]="5000"
  >
  </ion-toast>
</ion-content>
