.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .navigation {
        flex: 1;
    }

    .login {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}