<ng-container *ngIf="artist$ | async as artist; else loading">
  <ion-header>
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/artist"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-img [src]="imgUrl(artist.storage_path)"></ion-img>
    <div class="artist-info">
      <h1>{{artist.name}}</h1>
      <p>{{artist.description}}</p>
      <div class="actions">
        <a *ngIf="artist.instagram" [href]="artist.instagram" target="_blank">
          <ion-icon size="large" name="logo-instagram"></ion-icon>
        </a>
        <a *ngIf="artist.soundcloud" [href]="artist.soundcloud" target="_blank">
          <ion-icon size="large" name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.spotify" [href]="artist.spotify" target="_blank">
          <ion-icon size="large" src="assets/so-me-icons/spotify.svg"></ion-icon>
        </a>
        <a *ngIf="artist.bandcamp" src="assets/so-me-icons/bandcamp.svg" target="_blank">
          <ion-icon size="large" name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.apple_music" [href]="artist.apple_music" target="_blank">
          <ion-icon size="large" name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.tidal" [href]="artist.tidal" target="_blank">
          <ion-icon size="large" name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.youtube" [href]="artist.youtube" target="_blank">
          <ion-icon size="large" name="logo-youtube"></ion-icon>
        </a>
      </div>
    </div>
  </ion-content>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
