<ion-header>
  <ion-toolbar mode="md">

    <ion-title>{{stageName$ | async}}</ion-title>

    <ion-buttons slot="end">
      <ng-container *ngIf="tickets$ | async">
        <ion-button id="open-tickets-modal">
          <ion-icon slot="icon-only"
                    name="ticket-outline"></ion-icon>
        </ion-button>
      </ng-container>

      <ion-button id="open-description-modal"
                  *ngIf="hasTimetable$ | async">
        <ion-icon slot="icon-only"
                  name="information-outline"></ion-icon>
      </ion-button>

      <ng-container *ngIf="location$ | async as location">
        <ion-button color="primary"
                    fill="outline"
                    (click)="onOpenGoogleMapsDirections(location)">
          Directions
        </ion-button>
      </ng-container>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="days$ | async as days">
  <ion-segment scrollable
               mode="md"
               (ionChange)="onSelectDay($event)"
               [value]="selectedDay$ | async">
    <ion-segment-button *ngFor="let day of days"
                        [value]="day.id">
      <ion-label>{{day.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="timetable$ | async as timetable">
    <ion-item *ngFor="let act of timetable; let i = index"
              [style.--animation-order]="i">

      <span slot="start"
            *ngIf="act.start_time; else noSlot">
        {{act.start_time | date:'HH:mm'}} - {{act?.end_time | date:'HH:mm'}}
      </span>
      <ng-template #noSlot>
        <span slot="start">N/A</span>
      </ng-template>

      <ion-label (click)="onGoToArtist(act?.name)">
        {{act?.name}}
      </ion-label>
    </ion-item>
  </ng-container>
</ng-container>

<!-- Show description if no timetable is assigned to stage -->
<div *ngIf="!(timetable$ | async)"
     class="description">
  <div class="no-timetable ion-margin">

    <ng-container *ngIf="tags$ | async as tags">
      <ion-badge color="tertiary"
                 *ngFor="let tag of tags"
                 class="tag">
        {{tag}}
      </ion-badge>
    </ng-container>
  </div>

  <ng-container *ngIf="stageDescription$ | async as description; else noTimetable">
    <p class="stage-description">{{description}}</p>
  </ng-container>

  <ng-container *ngIf="url$ | async as url">
    <div class="ion-text-center">
      <ion-button color="primary"
                  (click)="onGoToUrl(url)">
        More info
      </ion-button>
    </div>
  </ng-container>


  <ng-template #noTimetable>
    <div class="no-timetable ion-margin">
      <ion-badge color="medium">
        No description or timetable available for this stage
      </ion-badge>
    </div>
  </ng-template>
</div>

<ion-modal trigger="open-description-modal"
           [initialBreakpoint]="0.4"
           [breakpoints]="[0.4, 0.75, 1]"
           *ngIf="hasTimetable$ | async">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="onCloseModal()">
            <ion-icon slot="icon-only"
                      name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Stage description</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h3>{{stageName$ | async}}</h3>
      <p class="stage-description">{{stageDescription$ | async}}</p>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal trigger="open-tickets-modal"
           [initialBreakpoint]="0.4"
           [breakpoints]="[0.4, 0.75]"
           *ngIf="tickets$ | async">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="onCloseModal()">
            <ion-icon slot="icon-only"
                      name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Tickets</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let ticket of tickets$ | async"
                  [href]="ticket.url">
          {{ticket.name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>