<ng-container *ngIf="artist$ | async as artist; else loading">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/artist"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="open-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="left">
        <ion-fab-button size="small">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="bottom">
        <a *ngIf="artist.instagram" [href]="artist.instagram" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" name="logo-instagram"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.soundcloud" [href]="artist.soundcloud" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" name="logo-soundcloud"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.spotify" [href]="artist.spotify" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" src="assets/so-me-icons/spotify.svg"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.bandcamp" [href]="artist.bandcamp" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" src="assets/so-me-icons/bandcamp.svg"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.apple_music" [href]="artist.apple_music" target="_blank">
          <ion-icon size="large" name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.tidal" [href]="artist.tidal" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" name="logo-soundcloud"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.youtube" [href]="artist.youtube" target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large" name="logo-youtube"></ion-icon>
          </ion-fab-button>
        </a>
      </ion-fab-list>
    </ion-fab>

    <ion-img [src]="imgUrl(artist.storage_path)">
      heij
    </ion-img>
    <div class="artist-info">
      <h1>
        {{artist.name}}
        <ng-container *ngIf="favorites$ | async as favorites">
          <ion-icon slot="icon-only" [color]="isFavorite(artist.id, favorites.artists) ? 'primary' : ''" [name]="isFavorite(artist.id, favorites.artists) ? 'heart' : 'heart-outline'" (click)="addRemoveFavorites(artist.id)"></ion-icon>
        </ng-container>
      </h1>
      <div class="acts">
        <p *ngFor="let act of artist.timetable">
          {{act.day.name}} |
          {{act.start_time | date:'HH:mm'}} -
          {{act.end_time | date:'HH:mm'}} |
          {{act.stage.name}}
          slkdkfkslkldkfskf
        </p>
      </div>
      <p>{{artist.description}}</p>

      <iframe style="border: 0; width: 100%; height: 42px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=827433845/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
        seamless><a href="https://djkoze.bandcamp.com/album/knock-knock-pampacd013">knock knock - (PAMPACD013) by DJ
          Koze</a></iframe>

    </div>
  </ion-content>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>