ion-back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    --background: rgba(255, 255, 255, 0.3)
}

img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.artist-info {
    padding: 20px;

    .acts {
        margin-top: 20px;

        ion-badge {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 10px;
        }
    }
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}