<ng-container *ngIf="artist$ | async as artist; else loading">

  <ion-content color="medium" scrollEvents="true" (ionScroll)="onScroll($event)">

    <ion-back-button [defaultHref]="previousRoute$ | async"
                     icon="chevron-back"
                     color="medium"
                     mode="md">
    </ion-back-button>

    <img [src]="artist.imgUrl"
         alt="Image of {{artist.name}}"
         [srcset]="artist.srcset"
         [style.transform]="imageScale$ | async">

    <div class="artist-info">
      <h1 class="ion-text-center">
        {{artist.name}}
        <ion-icon slot="icon-only"
                  [color]="artist.isFavorite ? 'primary' : ''"
                  [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                  (click)="toggleFavorite(artist.id)">
        </ion-icon>
      </h1>
      <div class="acts ion-text-center">
        <ion-badge mode="ios"
                   color="light"
                   *ngFor="let act of artist.timetable"
                   (click)="goToStageOnMap(act.stage.geom)">
          <ion-icon name="location"></ion-icon>
          {{act.day.name}} |
          {{act.start_time | date:'HH:mm'}} -
          {{act.end_time | date:'HH:mm'}} |
          {{act.stage.name}}
        </ion-badge>
      </div>
      <p>{{artist.description}}</p>
    </div>

    <ng-container *ngIf="artist.bandcamp_iframe">
      <div class="music-player">
        <iframe style="border: 0; width: 100%; height: 120px;"
                [iframeSrc]="artist.bandcamp_iframe"
                seamless>
        </iframe>
      </div>
    </ng-container>

    <ion-fab *ngIf="(canShare$ | async) || (soMeLinks$ | async).length > 0"
             vertical="top"
             horizontal="end"
             slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="open-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="bottom">
        <ion-fab-button *ngFor="let soMe of soMeLinks$ | async"
                        color="secondary"
                        (click)="openUrl(soMe.url)">
          <ion-icon *ngIf="soMe.icon"
                    size="large"
                    [name]="soMe.icon">
          </ion-icon>
          <ion-icon *ngIf="soMe.svg"
                    size="large"
                    [src]="soMe.svg">
          </ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list *ngIf="canShare$ | async"
                    side="start">
        <ion-fab-button size="small"
                        color="secondary"
                        (click)="share(artist)">
          <ion-icon name="share-social-outline"
                    size="large">
          </ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>
  </ion-content>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>