<ng-container *ngIf="artist$ | async as artist; else loading">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/artist"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-img [src]="artist.imgUrl"></ion-img>

    <div class="artist-info">
      <h1 class="ion-text-center">
        {{artist.name}}
        <ion-icon slot="icon-only"
                  [color]="artist.isFavorite ? 'primary' : ''"
                  [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                  (click)="toggleFavorite(artist.id)">
        </ion-icon>
      </h1>
      <div class="acts ion-text-center">
        <ion-badge mode="ios"
                   color="light"
                   *ngFor="let act of artist.timetable"
                   (click)="goToStageOnMap(act.stage.geom)">
          <ion-icon name="location"></ion-icon>
          {{act.day.name}} |
          {{act.start_time | date:'HH:mm'}} -
          {{act.end_time | date:'HH:mm'}} |
          {{act.stage.name}}
        </ion-badge>
      </div>
      <p>{{artist.description}}</p>

      <ng-container *ngIf="artist.bandcamp_iframe as bandcampIframe">
        <iframe style="border: 0; width: 100%; height: 42px;"
                [src]="safeUrl(bandcampIframe)"
                seamless>
        </iframe>
      </ng-container>

    </div>

    <ion-fab vertical="top"
             horizontal="end"
             edge
             slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="open-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="left">
        <ion-fab-button size="small">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="bottom">
        <a *ngIf="artist.instagram"
           [href]="artist.instagram"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      name="logo-instagram"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.soundcloud"
           [href]="artist.soundcloud"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      name="logo-soundcloud"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.spotify"
           [href]="artist.spotify"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      src="assets/so-me-icons/spotify.svg"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.bandcamp"
           [href]="artist.bandcamp"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      src="assets/so-me-icons/bandcamp.svg"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.apple_music"
           [href]="artist.apple_music"
           target="_blank">
          <ion-icon size="large"
                    name="logo-soundcloud"></ion-icon>
        </a>
        <a *ngIf="artist.tidal"
           [href]="artist.tidal"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      name="logo-soundcloud"></ion-icon>
          </ion-fab-button>
        </a>
        <a *ngIf="artist.youtube"
           [href]="artist.youtube"
           target="_blank">
          <ion-fab-button size="small">
            <ion-icon size="large"
                      name="logo-youtube"></ion-icon>
          </ion-fab-button>
        </a>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>