$image-height: 250px;
$music-player-height: 120px;



header {
    .ios-status-bar-background {
        position: fixed;
        top: 0;
        height: var(--ion-safe-area-top);
        width: 100%;
        background-color: var(--ion-background-color);
        z-index: 100;
    }

    img {
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        height: $image-height;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
}

ion-back-button {
    position: fixed;
    top: calc(var(--ion-safe-area-top) + 10px);
    left: 10px;
    --background: rgba(var(--ion-background-color-rgb), 0.4);
    z-index: 10;
}

.fab-actions {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: grid;
    grid-auto-flow: row;
    margin-top: var(--ion-safe-area-top);

    .so-me {
        position: relative;
    }
}

.artist-info {
    position: relative;
    top: $image-height;
    background-color: var(--ion-background-color);

    .artist-title {
        padding: 20px 0 24px 0;
        margin: 0;
        position: sticky;
        top: var(--ion-safe-area-top);
        background-color: var(--ion-background-color);
        z-index: 1;
    }

    .acts {
        ion-badge {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 10px;
        }
    }

    .description {
        padding: 0 20px;
        white-space: pre-wrap;
    }

    &.music-player-padding {
        padding-bottom: calc($music-player-height + 10px);
    }
}

.music-player {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: $music-player-height;
    background-color: var(--ion-background-color);
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        position: absolute;
        z-index: 1;
    }

    ion-spinner {
        position: fixed;
    }

    .close-player {
        background-color: var(--ion-background-color);
        position: absolute;
        border-radius: 50%;
        padding: 5px;
        right: 3px;
        bottom: $music-player-height;
    }
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}