<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/event"></ion-back-button>
    </ion-buttons>
    <ion-title>Event detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ng-container *ngIf="event$ | async as event">
    <img [src]="event.imgUrl"
         [alt]="'Image of the ' + event.name + ' event'">
    <div class="ion-padding">
      <header>
        <h1>
          {{event.name}}

          <ion-icon slot="icon-only"
                    name="location-outline"
                    (click)="onZoomToEventOnMap(event.bounds)">
          </ion-icon>
        </h1>

        <p class="days">{{ event.days.join(' | ')}}</p>
      </header>

      <section class="description">
        <p>{{ event.description }}</p>
      </section>

      <section class="artists">
        <div class="artist-badge"
             *ngFor="let artist of event.artists"
             [routerLink]="['/tabs', 'artist', artist.id]">{{ artist.name }}</div>
      </section>
    </div>
  </ng-container>
</ion-content>