<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/event"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Event detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ng-container *ngIf="event$ | async as event">
    <ion-fab vertical="top"
             horizontal="end">

      <ion-fab-button (click)="onZoomToEventOnMap(event.id, event.bounds)">
        <ion-icon name="map-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button *ngIf="canShare$ | async"
                      class="share-fab"
                      (click)="share(event)">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab>

    <img [src]="event.imgUrl"
         alt="Image of {{event.name}}"
         [srcset]="event.srcset">

    <div class="ion-padding">
      <header class="ion-text-center">
        <h1>
          {{event.name}}

        </h1>
        <p class="days">{{ event.days.join(' | ')}}</p>
        <ion-badge [style.--background]="event.event_type.color">{{event.event_type.name}}</ion-badge>
      </header>

      <section class="description">
        <p>{{ event.description }}</p>
      </section>

      <section class="artists">
        <div class="artist-badge"
             *ngFor="let artist of event.artists"
             [routerLink]="['/tabs', 'artist', artist.name]">{{ artist.name }}</div>
      </section>
    </div>
  </ng-container>
</ion-content>