@switch (selectedListViewMode()) {
@case (viewMode.ByStage) {
@if (timetableByStage$ | async; as timetableByStage) {
<ion-list>
  <ion-item-group *ngFor="let stage of timetableByStage">
    <ion-item-divider sticky="true"
                      color="medium">
      <ion-label>{{stage.stage_name}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let artist of stage.timetable">
      <ion-label>
        <div class="timeslot">
          <span class="start-time">{{artist.start_time | date:'HH:mm'}}</span>
          <span class="end-time">{{artist.end_time | date:'HH:mm'}}</span>
        </div>
        <div class="artist-stage">
          <span class="artist-name"
                [routerLink]="['/tabs', routeName.Artist, artist.artist_name]">{{artist.artist_name}}</span>
        </div>
        <div class="favorite">
          <ion-icon slot="icon-only"
                    [color]="artist.isFavorite ? 'favorite' : ''"
                    [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                    (click)="onToggleFavorite(artist.artist_id)"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-list>
}

}
@case (viewMode.ByTime) {
@if (timetableByTime$ | async; as timetableByTime) {
<ion-list>
  <ion-item *ngFor="let artist of timetableByTime">
    <ion-label>
      <div class="timeslot">
        <span class="start-time">{{artist.start_time | date:'HH:mm'}}</span>
        <span class="end-time">{{artist.end_time | date:'HH:mm'}}</span>
      </div>
      <div class="artist-stage">
        <span class="artist-name"
              [routerLink]="['/tabs', routeName.Artist, artist.artist_name]">
          {{artist.artist_name}}
        </span>
        <span class="stage-name">
          {{artist.stageName}}
        </span>
      </div>

      <div class="favorite">
        <ion-icon slot="icon-only"
                  [color]="artist.isFavorite ? 'favorite' : ''"
                  [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                  (click)="onToggleFavorite(artist.artist_id)"></ion-icon>
      </div>

    </ion-label>
  </ion-item>
</ion-list>
}
}
}

<ion-footer>
  <ion-segment mode="ios"
               class="list-view-mode-segment"
               (ionChange)="onChangeListViewMode($event)"
               [value]="selectedListViewMode()"
               [@slideLeft]>
    <ion-segment-button [value]="viewMode.ByTime">
      <ion-label>By stage</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="viewMode.ByStage">
      <ion-label>By time</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>