<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Gadearmbånd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h4>
    <ion-text color="secondary">
      MAKE DISTORTION HAPPEN AGAIN & AGAIN – SUPPORT THROUGH BRACELETS AND GET EXCLUSIVE PERKS AND GOOD VIBES
    </ion-text>
  </h4>
  <p>After 25 beautiful years of celebration, Distortion is still running its yearly street party because of YOU.
    Through the bracelets called Gadearmbånd you help us celebrate Copenhagen streetlife and will get exclusive perks
    and free karma in return.</p>
  <p>
    For only 100 kroner you are supporting as well all this on Thursday 2 June on Vesterbro:
  </p>
  <ul>
    <li>Exclusive access to <ion-text color="primary"><b>luxury toilets</b></ion-text> at Enghave Plads and Sønder
      Boulevard 48
    </li>
    <li>Exclusive access to <ion-text color="primary"><b>balconies</b></ion-text> at Enghave Plads and Sønder Boulevard
      48</li>
    <li>Free <ion-text color="primary"><b>Tuborg Sunset beers</b></ion-text> when you enter one of our welcome portals
      (while
      stock lasts)</li>
    <li>Half price on <ion-text color="primary"><b>voodoo face paint</b></ion-text> at Istedgade 130</li>
    <li>Half price on <ion-text color="primary"><b>silent disco</b></ion-text> at Litauens Plads</li>
    <li>Half price on a <ion-text color="primary"><b>fly new haircut</b></ion-text> at the Hair Wheel of Doom at
      Saxogade 9
    </li>
  </ul>
  <p>You can get the Gadearmbånd at our welcome portals at Enghaveparken, Enghave Plads, Dybbølsgade 11, Istedgade 40,
    and Sønder Boulevard 48 and 68 or get it in the bars.</p>
  <p>Gadearmbånd is an awesome souvenir. We cannot wait to celebrate Distortion with YOU!</p>

</ion-content>