<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Gadearmbånd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h4>Buy a Gadearmbånd for only 100 kr, get exclusive perks and FREE KARMA by supporting the totally FREE street
    parties!</h4>
  <h5>
    <ion-text color="primary">
      PERKS:
    </ion-text>
  </h5>
  <ul>
    <li>Exclusive access to LUXURY TOILETS #1, placed at Enghave Plads</li>
    <li>Exclusive access to VIP BALCONY #1, placed at Enghave Plads</li>
    <li>Exclusive access to LUXURY TOILETS #2, placed at Sønder Boulevard 48</li>
    <li>Exclusive access to VIP BALCONY #2, placed at Sønder Boulevard 48</li>
  </ul>
  <h5>
    <ion-text color="primary">
      50 % DISCOUNT:
    </ion-text>
  </h5>
  <ul>
    <li>SILENT DISCO at Litauens Plads</li>
    <li>RUBEN & BOBBY HAIR WHEEL OF DOOM at Saxogade 92</li>
  </ul>
  <h5>
    <ion-text color="primary">
      FREE BEER:
    </ion-text>
  </h5>
  <p>Tuborg Sunsæt beer, when you go through one of our portals
    (as long as the stock lasts)</p>
  <p>Making the free street parties isn’t free at all, so by buying a Gadearmbånd / Streetwristband you support the
    cleaning, toilets, security and the ActionHygge-programme. You can buy the Gadearmbånd with all our volunteers under
    all the portals across Vesterbro Street Party - the specific portal addresses are:</p>
  <ul>
    <li>Enghave Parken</li>
    <li>Enghave Plads</li>
    <li>Dybbølsgade 11</li>
    <li>Istedgade 40D</li>
    <li>Sønder Boulevard 48</li>
    <li>Sønder Boulevard 68</li>
  </ul>
  <p>OBS. Gadearmbånd doesn’t grant access to either X or Ø-areas - but it helps ensure the sustained continuation of
    Distortions iconic free street parties, and the expensive logistics around cleanup, toilets, security, as well as
    our totally free cultural and cozy ActionHygge-programme, suitable for all ages.</p>

</ion-content>