ion-content {
    --background: var(--ion-color-secondary);
    --background: linear-gradient(180deg, rgba(var(--ion-color-secondary-rgb), 0.6) 51%, var(--ion-color-secondary) 100%);

    ion-list {
        background: none;

        ion-item {
            --background: none;
        }
    }

    .filter-badges {
        width: 100%;
        display: flex;
        justify-content: center;

        ion-badge {
            margin: 5px;
        }
    }
}