<ion-header>
  <ion-toolbar color="medium"
               class="ion-text-center">
    <div class="search-mode ion-padding">
      <ion-segment mode="ios"
                   [value]="selectedSearchMode$ | async"
                   (ionChange)="onSearchModeChange($event)">
        <ion-segment-button color="secodary"
                            [value]="searchMode.FreeText">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="searchMode.NearBy">
          <ion-label>Near by</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>

  <ion-toolbar color="medium">
    <ion-searchbar #search
                   mode="ios"
                   debounce="0"
                   [formControl]="searchTerm"
                   animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">

  <ng-container *ngIf="(selectedSearchMode$ | async) === searchMode.NearBy">
    <ng-container *ngIf="nearBy$ | async as nearBy">

      <ion-list>
        <ion-item *ngFor="let result of nearBy">
          <span slot="start">{{result.distance}} m</span>
          <ion-badge slot="end"
                     [color]="badgeColor[result.entity]">{{result.entity}}</ion-badge>
          <ion-label>
            <h2>{{result.name}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="(selectedSearchMode$ | async) === searchMode.FreeText">
    <ng-container *ngIf="searchResults$ | async as results; else intro">
      <ion-list>

        <ng-container *ngFor="let result of results"
                      [ngSwitch]="entity[result.entity]">

          <ion-item *ngSwitchCase="entity.artist"
                    [routerLink]="['/tabs', 'artist', result.id]">
            <ion-avatar slot="start">
              <img [src]="imgUrl(result.artist.storage_path)" />
            </ion-avatar>
            <ion-label>
              <h2>{{result.name}}</h2>
              <p>{{result.artist.timetable[0].day.name}} | {{result.artist.timetable[0].start_time | date:'HH:mm'}}</p>
            </ion-label>
            <ion-badge slot="end"
                       [color]="badgeColor[result.entity]">{{result.entity}}</ion-badge>
          </ion-item>

          <ion-item *ngSwitchCase="entity.stage">
            <ion-icon slot="start"
                      name="map"></ion-icon>
            <ion-label>
              <h2>{{result.name}}</h2>
            </ion-label>
            <ion-badge slot="end"
                       [color]="badgeColor[result.entity]">{{result.entity}}
            </ion-badge>
          </ion-item>

          <ion-item *ngSwitchCase="entity.asset">
            <ion-badge slot="end"
                       [color]="badgeColor[result.entity]">{{result.entity}}
            </ion-badge>
            <ion-label>
              <h2>{{result.name}}</h2>
            </ion-label>
          </ion-item>

        </ng-container>

      </ion-list>
    </ng-container>
  </ng-container>

  <ng-template #intro>
    <div class="ion-padding ion-text-center">
      <p>Search</p>
      <ion-badge color="primary"
                 class="ion-margin">artists</ion-badge>
      <ion-badge color="secondary"
                 class="ion-margin">stages</ion-badge>
      <ion-badge color="tertiary"
                 class="ion-margin">bars</ion-badge>
      <ion-badge color="medium"
                 class="ion-margin">events</ion-badge>
    </div>
  </ng-template>
</ion-content>