form {
  width: 100%;
  overflow: scroll;
  height: 60vh;

  ion-item {
    border-bottom: 1px solid var(--ion-text-color);

    .fields {
      flex-grow: 1;
    }
  }
}

ion-footer {
  display: flex;
  justify-content: center;
}
