ion-card {

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%)
    }

    .card-content {
        min-height: 150px;
        display: flex;
        align-items: stretch;
        color: white;
        padding: 10px;

        .card-text {
            flex-grow: 1;
            align-self: center;
            z-index: 1;
        }

        .card-actions {
            align-self: center;
            font-size: xx-large;
            z-index: 1;
        }
    }
}