<ion-card>

  <img [src]="artist.imgUrl"
       alt="Image of {{artist.name}}"
       [srcset]="artist.srcset">

  <div class="card-content">

    <div class="card-text"
         [routerLink]="['./', artist.name]">
      <h3 tabindex="1">
        {{artist.name}}
      </h3>
      <p *ngFor="let act of artist.timetable">
        {{act.day.name}} |
        {{act.start_time | date:'HH:mm'}} |
        {{act.stage.name}}
      </p>
    </div>

    <div slot="end"
         class="card-actions">
      <ion-icon slot="icon-only"
                [color]="artist.isFavorite ? 'primary' : ''"
                [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                (click)="toggleFavorite(artist.id)">
      </ion-icon>
    </div>
  </div>

</ion-card>