ion-card {
    background: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%)
    }

    .card-content {
        min-height: 150px;
        display: flex;
        align-items: stretch;
        color: white;
        padding: 10px;

        .card-text {
            flex-grow: 1;
            align-self: center;
            z-index: 1;

            .artist-name-country {
                display: flex;
                align-items: center;
                margin: 0;

                .country {
                    margin-left: 5px;
                    font-size: medium;
                    color: var(--ion-color-light-shade);
                }
            }

            .act {
                margin-bottom: 0;
            }
        }

        .card-actions {
            align-self: center;
            font-size: xx-large;
            z-index: 1;
        }
    }
}