<ion-card>

  <img [src]="artist.imgUrl"
       alt="Image of {{artist.name}}"
       [srcset]="artist.srcset">

  <div class="card-content">

    <div class="card-text"
         [routerLink]="['./', artist.name]">
      <h3 tabindex="1"
          class="artist-name-country">
        <span>
          {{artist.name}}
        </span>
        <span *ngIf="artist.country"
              class="country">
          ({{artist.country}})
        </span>
      </h3>
      <p *ngFor="let act of artist.timetable"
         class="act">
        {{act.stage.event.name}} |
        {{act.day.name}}
        <ng-container *ngIf="act.start_time">
          | {{act.start_time | date:'HH:mm'}}
        </ng-container>
      </p>
    </div>

    <div slot="end"
         class="card-actions">
      <ion-icon slot="icon-only"
                [color]="artist.isFavorite ? 'favorite' : ''"
                [name]="artist.isFavorite ? 'heart' : 'heart-outline'"
                (click)="toggleFavorite(artist.id)">
      </ion-icon>
    </div>
  </div>

</ion-card>