<ion-tabs (ionTabsDidChange)="onTabChange($event)"
          id="main">

  <ion-tab-bar slot="bottom"
               color="medium">

    <ion-tab-button tab="map">
      <ion-icon name="location"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="artist">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Artists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timetable">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Timetable</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openSidebar()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-menu contentId="main"
          type="overlay">
  <app-sidebar></app-sidebar>
</ion-menu>