<ion-tabs (ionTabsDidChange)="onTabChange($event)" id="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="routeName.Map">
      <ion-icon
        [src]="(currentTab$ | async) === tabName.Map ? 'assets/ui-icons/map-fill.svg' : 'assets/ui-icons/map-outline.svg'"
      ></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Artist">
      <ion-icon
        [src]="(currentTab$ | async) === tabName.Artist ? 'assets/ui-icons/venues-fill.svg' : 'assets/ui-icons/venues-outline.svg'"
      ></ion-icon>
      <ion-label>Venues</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Timetable">
      <ion-icon
        [src]="(currentTab$ | async) === tabName.Timetable ? 'assets/ui-icons/programme-fill.svg' : 'assets/ui-icons/programme-outline.svg'"
      ></ion-icon>
      <ion-label>Programme</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="routeName.Favorite">
      <ion-icon
        [src]="(currentTab$ | async) === tabName.Favorite ? 'assets/ui-icons/favorite-fill.svg' : 'assets/ui-icons/favorite-outline.svg'"
      ></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openSidebar()">
      <ion-icon
        [src]="(currentTab$ | async) === tabName.More ? 'assets/ui-icons/more-fill.svg' : 'assets/ui-icons/more-outline.svg'"
      ></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-menu contentId="tabs" swipeGesture="false" type="overlay">
  <app-sidebar></app-sidebar>
</ion-menu>
