video {
    position: absolute;
    top: 0;
    height: 100%;
    filter: brightness(75%);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;



    h1 {
        margin-top: 50px;
        z-index: 1;
        color: white;
        font-size: xx-large;
    }

    .partners {
        flex-grow: 1;
        overflow: auto;
        
        ion-col {
            align-self: center;

            img {
                padding: 20px;
                filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.3));
            }
        }

    }

    ion-button {
        margin: 0;
        padding: 10px;
        height: 100px;
        width: 100%;
        --border-radius: 50px;
    }
}
