<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img src="assets/karrusel_logo.png"
       style="position:relative; height: 100px; left: 50%; transform: translateX(-50%);">
  <p>Karrusel is here to create magic moments and to document new dance music from around the globe.</p>

  <p>Karrusel is 3 days in the woods with house, disco and techno with 30+ artists across 3 stages and a nice carousel
    ride. The festival takes place open-air at the abandoned shipyard of Refshaleøen on a secluded green spot. 2022 was
    headlined by Amelie Lens, Andhim, Folamour, Partiboi69 and Nastia. 2021 was headlined by The Blessed Madonna, Peggy
    Gou, Hunee, Mall Grab and Job Jobse. 2019 was headlined by Dixon, Jennifer Cardini, Chris Schwarzwalder, Oliver
    Schories, Perel and Victor Ruiz.</p>
</ion-content>