<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium"
             class="ion-padding">
  <img src="assets/distortion_logo_trans.png"
       style="position:relative; height: 100px; left: 50%; transform: translateX(-50%);">
  <p>Distortion started as an experimental party project in 1998. In 2000 it became a 5-day-long party-crawl going
    through one Copenhagen district per day. The magic started with plenty of intimate backyard grill parties,
    receptions, happenings, party bus and champagne boats, all over Copenhagen, with 30-200 people at each get-together.
    Each event was cute, but it was the combination and the fact that Distortion was a travel through the city, full of
    genuine love for Copenhagen, that created the special atmosphere. Many of these events were not totally legal, but
    we were always semi-responsible: we cleaned after ourselves and respected the neighbours. The Police was nice when
    we met them – and since we were mobile and happy, we just moved around and no problemo.</p>

  <p>For the first time in 2007, we got 1,500 guests at one single street party on Enghave Plads and almost 3,000 guests
    at Final Party. Until then, we had never had a strategy or a budget: Distortion was just for fun. In 2008, we opened
    a semi-professional entrepreneurship (the Distortion secretariat, Nus/Nus) made a contract with the Copenhagen City
    Council and bought a trashy black 1982-Mercedes stretch limousine – and somehow relaunched the festival. Things have
    gone fast since then. In 2011 we broke into the mainstream with 100.000+ guests at Vesterbro’s block party. In 2012
    we became a not-for-profit Foundation and in 2013, we were finally ready to soon be known around the world as the
    craziest party on the planet.</p>
</ion-content>