<ion-header>
  <app-filter-events></app-filter-events>
  <!-- <ng-container *ngIf="days$ | async as days">
    <ion-toolbar>
      <ion-segment scrollable
                   mode="md"
                   [value]="selectedDayId$ | async">
        <ion-segment-button *ngFor="let day of days"
                            (click)="onDayFilterSelect(day.id)"
                            [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="events$ | async as events">
    <ion-toolbar class="event-filter"
                 color="medium">
      <ion-segment scrollable
                   mode="md"
                   [value]="selectedEventId$ | async">
        <ion-segment-button *ngFor="let event of events"
                            (click)="onEventFilterSelect(event.id)"
                            [value]="event.id">
          <ion-label>{{event.name}}</ion-label>
          <span class="event-color"
                [style.background-color]="event.event_type.color">
          </span>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container> -->
</ion-header>

<ion-content>
  <div id="map-container">
    <div *ngIf="(mapIdle$ | async)"
         [@fadeInOut]
         class="map-loading-animation">
      <ng-lottie [options]="animationOptions"></ng-lottie>
      <p *ngIf="mapIdle$ | async">Map loading...</p>
    </div>
    <ion-fab slot="fixed"
             vertical="bottom"
             horizontal="start">
      <ion-fab-button id="open-legend"
                      color="light">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-modal trigger="open-legend"
             [breakpoints]="[0, 0.4, 0.7 ,0.9]"
             [initialBreakpoint]="0.7">
    <ng-template>
      <app-legend></app-legend>
    </ng-template>
  </ion-modal>
</ion-content>