ion-header {
    ion-segment-button {
        --color-checked: var(--ion-text-color);
    }

    .event-filter {
        ion-label {
            margin: 0;
        }

        .event-color {
            margin-top: 2px;
            width: 50px;
            height: 6px;
            border-radius: 3px;
        }
    }
}

#map-container {
    height: 100%;
    width: 100%;

    .map-loading-animation {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        ng-lottie {
            height: 200px;
            width: 200px;
        }
    }
}