<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form (ngSubmit)="signIn()"
        [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email"
                   placeholder="Email"
                   formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors"
           class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password"
                   placeholder="Password"
                   formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors"
           class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>

    <ion-button type="submit"
                expand="block"
                [disabled]="!credentials.valid">Login</ion-button>
    <ion-button type="button"
                expand="block"
                color="light"
                fill="clear">or Sign up!
    </ion-button>

    <br>
    <ion-button type="button"
                expand="block"
                color="secondary"
                (click)="signInWithGoogle()">
      <ion-icon name="logo-google"
                slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button"
                expand="block"
                color="secondary">
      <ion-icon name="logo-apple"
                slot="start"></ion-icon>
      Sign in with Apple
    </ion-button>
  </form>
</ion-content>