<ion-header>
  <ion-toolbar>
    <ion-title>Artists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="artists$ | async as artists">
    <ion-list>
      <ion-item *ngFor="let artist of artists">
        <ion-avatar slot="start">
          <img src="assets/map-icons/stage.png" />
        </ion-avatar>
        <ion-label>
          <h2>
            {{artist.name}}
          </h2>
          <p>{{artist.description}}</p>
        </ion-label>
        <div slot="end" class="actions">
          <ion-icon name="information"></ion-icon>
          <ion-icon name="location"></ion-icon>
          <ion-icon name="heart"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
