<ion-header [translucent]="true">
  <!-- <ion-toolbar color="medium">
    <ion-title class="ion-text-center">
      Timetable
    </ion-title>
  </ion-toolbar> -->
  <ng-container *ngIf="days$ | async as days">
    <ion-toolbar color="medium">
      <ion-segment scrollable mode="md" (ionChange)="onDayFilterChange($event)" [value]="selectedDayId$ | async">
        <ion-segment-button *ngFor="let day of days" [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="events$ | async as events">
    <ion-toolbar color="secondary">
      <ion-segment scrollable mode="md" (ionChange)="onEventFilterChange($event)" [value]="selectedEventId$ | async">
        <ion-segment-button *ngFor="let event of events" [value]="event.id">
          <ion-label>{{event.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <div class="timetable">
    <div class="time-label" *ngFor="let label of timeLabels" [style.grid-column]="(label.min === 0 ? 1 : label.min) + ' / ' + (label.min + 60)">
      {{label.time}}
    </div>

    <div class="stage main">
      <span>main</span>
    </div>
    <div class="act a">
      <span>
          DJ Alligator
      </span>
    </div>
    <div class="stage minor">
      <hr/>
      <span>minor</span>
    </div>
    <div class="act b">
      <p>
        DJ Bone
      </p>
    </div>
    <div class="stage sharp">
      <span>sharp</span>
    </div>
    <div class="act c">
      <p>
        DJ Typhooon
      </p>
    </div>



  </div>
</ion-content>