<ion-header [translucent]="true">
  <ng-container *ngIf="days$ | async as days">
    <ion-toolbar color="medium">
      <ion-segment scrollable mode="md" (ionChange)="onDayFilterChange($event)" [value]="selectedDayId$ | async">
        <ion-segment-button *ngFor="let day of days" [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>

  <!-- <ng-container *ngIf="events$ | async as events">
    <ion-toolbar color="secondary">
      <ion-segment scrollable mode="md" (ionChange)="onEventFilterChange($event)" [value]="selectedEventId$ | async">
        <ion-segment-button *ngFor="let event of events" [value]="event.id">
          <ion-label>{{event.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container> -->
</ion-header>

<ion-content>

  <ng-container *ngIf="timetableConfig$ | async as config; else noTimeTable">
    <div class="timetable" [style.--template-columns]="config.gridTemplate.columns"
      [style.--template-rows]="config.gridTemplate.rows">
      
      <div class="time-label" *ngFor="let item of config.timeLabels" [style.--time-label-column]="item.column">
        {{item.label | date:'HH:mm'}}
      </div>

      <!-- <div class="time-grid-line"></div> -->

      <ng-container *ngFor="let stage of config.timetable">
        <div class="stage">
          <span>{{stage.name}}</span>
        </div>
        <div class="act" *ngFor="let artist of stage.acts"
          [style.--act-column-start]="artist.columnStart" [style.--act-column-end]="artist.columnEnd">
          <div class="act-content">
            <div class="act-sticky">
              <div [routerLink]="['/tabs', 'artist', artist.id]">
                <h6>
                  {{artist.name}}
                </h6>
                <p>{{artist.startTime | date:'HH:mm'}}-{{artist.endTime | date:'HH:mm'}}</p>
              </div>

              <ion-icon slot="icon-only" [name]="isFavorite(artist.id) ? 'heart' : 'heart-outline'"
                (click)="addRemoveFavorites(artist.id)"></ion-icon>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noTimeTable>
    <p class="ion-text-center">No timetable for this day</p>
  </ng-template>


</ion-content>