<ion-header [translucent]="true">
  <ng-container *ngIf="days$ | async as days">
    <ion-toolbar color="medium">
      <ion-segment scrollable
                   mode="md"
                   (ionChange)="onDayFilterChange($event)"
                   [value]="selectedDayId$ | async">
        <ion-segment-button *ngFor="let day of days"
                            [value]="day.id">
          <ion-label>{{day.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="events$ | async as events">
    <ion-toolbar color="secondary">
      <ion-segment scrollable
                   mode="md"
                   (ionChange)="onEventFilterChange($event)"
                   [value]="selectedEventId$ | async">
        <ion-segment-button [value]="null"
                            *ngIf="events.length > 1">
          <ion-label>All events</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngFor="let event of events"
                            [value]="event.event_id">
          <ion-label>{{event.event_name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <ng-container *ngIf="timetableConfig$ | async as config; else loading">
    <div class="timetable"
         [style.--template-columns]="config.gridTemplateColumns">

      <!-- LABELS -->
      <ng-container *ngFor="let item of config.timeLabels">
        <div class="time-label"
             *ngFor="let item of config.timeLabels"
             [style.--time-label-column]="item.column">
          {{item.label | date:'HH:mm'}}
        </div>
        <div class="vertical-time-line"
             [style.--time-label-column]="item.column"></div>
      </ng-container>

      <!-- EVENTS -->
      <div class="event-label"
           *ngFor="let event of config.events"
           [style.--event-label-row-start]="event.rowStart">
        <span>
          {{event.eventName}}
        </span>
      </div>

      <div class="event"
           *ngFor="let event of config.events"
           [style.--event-row-start]="event.rowStart"
           [style.--event-row-end]="event.rowEnd">
      </div>

      <!-- TIMETABLE -->
      <ng-container *ngFor="let event of config.events">
        <ng-container *ngFor="let stage of event.stages">
          <div class="stage"
               [style.--stage-row-start]="stage.rowStart">
            <span>{{stage.stageName}}</span>
          </div>

          <div class="act"
               *ngFor="let timetable of stage.timetable"
               [style.--act-column-start]="timetable.columnStart"
               [style.--act-column-end]="timetable.columnEnd"
               [style.--act-row-start]="timetable.rowStart">
            <div class="act-content">
              <div class="act-sticky">
                <div [routerLink]="['/tabs', 'artist', timetable.artist_id]">
                  <h6>
                    {{timetable.artist_name}}
                  </h6>
                  <p>{{timetable.start_time | date:'HH:mm'}}-{{timetable.end_time | date:'HH:mm'}}</p>
                </div>

                <ion-icon slot="icon-only"
                          [name]="isFavorite(timetable.artist_id) ? 'heart' : 'heart-outline'"
                          (click)="addRemoveFavorites(timetable.artist_id)"></ion-icon>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #loading>
    <p class="ion-text-center ion-text-padding">
      Loading...
    </p>
  </ng-template>

</ion-content>