ion-content {
    --background: var(--ion-color-secondary);
    --background: linear-gradient(180deg, rgba(var(--ion-color-secondary-rgb), 0.6) 51%, var(--ion-color-secondary) 100%);

    .timetable {
        height: 100%;
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat(calc(var(--template-columns) * 60), 2.5px);
        grid-template-rows: [time-labels] 40px repeat(auto-fit, 27px);
        grid-gap: 5px 0;

        .time-label {
            grid-row: time-labels;
            grid-column: var(--time-label-column) / span 60;
            color: gray;
            background-color: rgba(244, 244, 244, 0.2);
            position: sticky;
            top: 0;
            z-index: 1;
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .time-grid-line {
            grid-column: var(--time-label-column) / span 1;
            grid-row: 2 / -1;
            border-left: 1px solid gray;
            // background-color: red;
        }

        .stage {
            grid-column: 5 / -1;
            grid-row: var(--stage-row-start) / span 1;
            align-self: end;

            span {
                padding: 5px 10px;
                border-radius: 10px 10px 2px 2px;
                position: sticky;
                left: 10px;
                background-color: rgba(var(--ion-color-tertiary-rgb), .8);
            }
        }

        .act {
            background-color: var(--ion-color-primary);
            color: white;
            border-radius: 25px;
            grid-column: var(--act-column-start) / var(--act-column-end);
            grid-row: var(--act-row-start) / span 2;

            .act-content {
                height: 100%;
                display: flex;
                align-items: center;
                
                .act-sticky {
                    position: sticky;
                    left: 10px;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;

                    p,
                    h6 {
                        margin: 0;
                    }

                    p {
                        color: rgb(205, 205, 205);
                        font-size: small;
                    }

                    ion-icon {
                        font-size: x-large;
                        margin: 0 10px;
                    }
                }


            }

        }
    }
}