.edit-modal-container {
  height: 95vh;
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
    overflow: scroll;
    flex-grow: 1;

    ion-item-group {
      margin-top: 25px;
    }

    ion-item-divider {
      --background: var(--ion-background-color-shade);
    }

    ion-accordion-group {
      width: 100%;
    }

    .image-upload-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 15px;
    }
  }
}