<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Artists</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="groupedArtists$ | async as artists">
    <ion-item-group *ngFor="let artist of artists">
      <ion-item-divider sticky="true" color="light">
        <ion-label>{{artist.letter}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let art of artist.artists" [routerLink]="['./', art.id]">
        <ion-avatar slot="start">
          <img [src]="imgUrl(art.storage_path)" />
        </ion-avatar>
        <ion-label>
          <h2>
            {{art.name}}
          </h2>
          <p>{{art.timetable[0]?.day.name}}, {{art.timetable[0]?.start_time | date:'HH:mm'}},
            {{art.timetable[0]?.stage.name}}</p>
        </ion-label>
        <div slot="end" class="actions">
          <ion-icon name="heart-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ion-content>