<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map" icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img
    src="assets/karrusel_logo.webp"
    style="
      position: relative;
      height: 100px;
      left: 50%;
      transform: translateX(-50%);
      margin: 30px 0;
    "
  />
  <p>3 days of house, disco and techno in the woods.</p>

  <p>
    2025 marks the 6th edition of Karrusel. Past editions include performances
    by Acid Pauli, Anetha, Amelie Lens, Ben Böhmer, Dixon, FJAAK, Folamour,
    Hunee, Job Jobse, KI/KI, Kölsch, Mall Grab, Marlon Hoffstadt, Nastia,
    Partiboi69, Peggy Gou, Richie Hawtin, Sama' Abdulhadi, Skin On Skin, The
    Blessed Madonna, Victor Ruiz, VTSS and more.
  </p>

  <p>
    Karrusel takes place at a secluded green spot on Refshaleøen in central
    Copenhagen.
  </p>

  <p>
    <ion-text color="secondary"> Address </ion-text>
    <br />
    Refshalevej 185, 1432 Copenhagen
  </p>

  <p>
    <ion-text color="secondary"> Opening Hours </ion-text>
    <br />
    Thursday 28 Aug 2025: 18.00-01.00 <br />
    Friday 29 Aug 2025: 18.00-04.00 <br />
    Saturday 30 Aug 2025: 18.00-03.00
  </p>

  <p>
    <ion-text color="secondary"> Thanks </ion-text>
    <br />
    Special thanks to each and every volunteer, Heineken for supporting new and
    wild ideas and Refshaleøen for meeting our housing needs.
  </p>
</ion-content>
