

ion-content#main {
    --background: var(--ion-color-secondary);
    --background: linear-gradient(180deg, rgba(var(--ion-color-secondary-rgb), 0.6) 51%, var(--ion-color-secondary) 100%);
}

ion-item {
    animation: popIn .2s calc(var(--animation-order) * 70ms) both ease-in;

    ion-label {
        outline: none;
    }
}

app-artist-card {
    animation: popIn .2s calc(var(--animation-order) * 20ms) both ease-in;
}

.time {
    margin-left: 10px;
    color: var(--ion-color-medium);
}

ion-menu {
    ion-header {
        ion-fab-button {
            --box-shadow: none;
        }
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(.6) translateY(-8px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }