<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"
                       icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-padding ion-text-center">
    <p>Select below to buy tickets</p>
  </section>

  <ion-list lines="none" class="ion-padding">
    <ion-item href="https://www.ticketmaster.dk/event/521297">
      <ion-icon slot="start" name="ticket"></ion-icon>
      Festival Pass
    </ion-item>
    <ion-item href="https://www.ticketmaster.dk/event/karrusel-2023-thursday-ticket-billetter/529195">
      <ion-icon slot="start" name="ticket"></ion-icon>
      Thursday
    </ion-item>
    <ion-item href="https://www.ticketmaster.dk/event/karrusel-2023-friday-ticket-billetter/529197">
      <ion-icon slot="start" name="ticket"></ion-icon>
      Friday
    </ion-item>
    <ion-item href="https://www.ticketmaster.dk/event/karrusel-2023-saturday-ticket-billetter/529199">
      <ion-icon slot="start" name="ticket"></ion-icon>
      Saturday
    </ion-item>
  </ion-list>   
</ion-content>