ion-card {
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%)
    }

    .card-content {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        padding: 10px;

        .card-text {
            z-index: 1;
            text-align: center;
        }
        
        .days {
            color: rgb(232, 231, 231);
        }
    }
}
