// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #E82B0B;
  --ion-color-primary-rgb: 232, 43, 11;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #cc260a;
  --ion-color-primary-tint: #ea4023;

  --ion-color-secondary: #FDE2CD;
  --ion-color-secondary-rgb: 253, 226, 205;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dfc7b4;
  --ion-color-secondary-tint: #fde5d2;

  --ion-color-tertiary: #e2caf9;
  --ion-color-tertiary-rgb: 226, 202, 249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c7b2db;
  --ion-color-tertiary-tint: #e5cffa;

  --ion-color-success: #008632;
  --ion-color-success-rgb: 0, 134, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00762c;
  --ion-color-success-tint: #1a9247;

  --ion-color-warning: #ffe95c;
  --ion-color-warning-rgb: 255, 233, 92;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0cd51;
  --ion-color-warning-tint: #ffeb6c;

  --ion-color-danger: #ff8f9e;
  --ion-color-danger-rgb: 255, 143, 158;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e07e8b;
  --ion-color-danger-tint: #ff9aa8;

  --ion-color-medium: #505052;
  --ion-color-medium-rgb: 80, 80, 82;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #464648;
  --ion-color-medium-tint: #626263;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-favorite: #E82B0B;
  --ion-color-favorite-rgb: 232, 43, 11;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0, 0, 0;
  --ion-color-favorite-shade: #cc260a;
  --ion-color-favorite-tint: #ea4023;

  // Background
  --ion-background-color: #0013C7;
  --ion-background-color-rgb: 68, 63, 63;

  --ion-background-color: #0013C7;
  --ion-background-color-rgb: 68, 63, 63;

  --ion-font-family: "Roboto", sans-serif;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #4d4949;
  --ion-color-step-100: #575252;
  --ion-color-step-150: #605c5c;
  --ion-color-step-200: #696565;
  --ion-color-step-250: #736f6f;
  --ion-color-step-300: #7c7979;
  --ion-color-step-350: #858282;
  --ion-color-step-400: #8f8c8c;
  --ion-color-step-450: #989595;
  --ion-color-step-500: #a29f9f;
  --ion-color-step-550: #aba9a9;
  --ion-color-step-600: #b4b2b2;
  --ion-color-step-650: #bebcbc;
  --ion-color-step-700: #c7c5c5;
  --ion-color-step-750: #d0cfcf;
  --ion-color-step-800: #dad9d9;
  --ion-color-step-850: #e3e2e2;
  --ion-color-step-900: #ececec;
  --ion-color-step-950: #f6f5f5;

  --ion-item-background: #0013C7;

  --ion-toolbar-background: #0013C7;
  --ion-toolbar-background-shade: #0011af;
  --ion-toolbar-background-tint: #1a2bcd;

  --ion-tab-bar-background: #0013C7;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}