// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ffb3dd;
  --ion-color-primary-rgb: 255, 179, 221;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e09ec2;
  --ion-color-primary-tint: #ffbbe0;

  --ion-color-secondary: #FDE2CD;
  --ion-color-secondary-rgb: 253, 226, 205;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dfc7b4;
  --ion-color-secondary-tint: #fde5d2;

  --ion-color-tertiary: #e2caf9;
  --ion-color-tertiary-rgb: 226, 202, 249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c7b2db;
  --ion-color-tertiary-tint: #e5cffa;

  --ion-color-success: #008632;
  --ion-color-success-rgb: 0, 134, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00762c;
  --ion-color-success-tint: #1a9247;

  --ion-color-warning: #ffe95c;
  --ion-color-warning-rgb: 255, 233, 92;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0cd51;
  --ion-color-warning-tint: #ffeb6c;

  --ion-color-danger: #ff8f9e;
  --ion-color-danger-rgb: 255, 143, 158;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e07e8b;
  --ion-color-danger-tint: #ff9aa8;

  --ion-color-medium: #505052;
  --ion-color-medium-rgb: 80, 80, 82;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #464648;
  --ion-color-medium-tint: #626263;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-favorite: #ff7f7f;
  --ion-color-favorite-rgb: 255, 127, 127;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0, 0, 0;
  --ion-color-favorite-shade: #e07070;
  --ion-color-favorite-tint: #ff8c8c;

  // Background
  --ion-background-color: #0013C7;
  --ion-background-color-rgb: 68, 63, 63;

  --ion-background-color: #0013C7;
  --ion-background-color-rgb: 68, 63, 63;

  --ion-font-family: "Roboto", sans-serif;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #4d4949;
  --ion-color-step-100: #575252;
  --ion-color-step-150: #605c5c;
  --ion-color-step-200: #696565;
  --ion-color-step-250: #736f6f;
  --ion-color-step-300: #7c7979;
  --ion-color-step-350: #858282;
  --ion-color-step-400: #8f8c8c;
  --ion-color-step-450: #989595;
  --ion-color-step-500: #a29f9f;
  --ion-color-step-550: #aba9a9;
  --ion-color-step-600: #b4b2b2;
  --ion-color-step-650: #bebcbc;
  --ion-color-step-700: #c7c5c5;
  --ion-color-step-750: #d0cfcf;
  --ion-color-step-800: #dad9d9;
  --ion-color-step-850: #e3e2e2;
  --ion-color-step-900: #ececec;
  --ion-color-step-950: #f6f5f5;

  --ion-item-background: #0013C7;

  --ion-toolbar-background: #0013C7;
  --ion-toolbar-background-shade: #0011af;
  --ion-toolbar-background-tint: #1a2bcd;

  --ion-tab-bar-background: #0013C7;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #c85c67;
//     --ion-color-primary-rgb: 200, 92, 103;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255, 255, 255;
//     --ion-color-primary-shade: #b0515b;
//     --ion-color-primary-tint: #ce6c76;

//     --ion-color-secondary: #dbbe52;
//     --ion-color-secondary-rgb: 219, 190, 82;
//     --ion-color-secondary-contrast: #000000;
//     --ion-color-secondary-contrast-rgb: 0, 0, 0;
//     --ion-color-secondary-shade: #c1a748;
//     --ion-color-secondary-tint: #dfc563;

//     --ion-color-tertiary: #599ae0;
//     --ion-color-tertiary-rgb: 89, 154, 224;
//     --ion-color-tertiary-contrast: #000000;
//     --ion-color-tertiary-contrast-rgb: 0, 0, 0;
//     --ion-color-tertiary-shade: #4e88c5;
//     --ion-color-tertiary-tint: #6aa4e3;

//     --ion-color-success: #9bd9b4;
//     --ion-color-success-rgb: 155, 217, 180;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0, 0, 0;
//     --ion-color-success-shade: #88bf9e;
//     --ion-color-success-tint: #a5ddbc;

//     --ion-color-warning: #ffe95c;
//     --ion-color-warning-rgb: 255, 233, 92;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0, 0, 0;
//     --ion-color-warning-shade: #e0cd51;
//     --ion-color-warning-tint: #ffeb6c;

//     --ion-color-danger: #ff8f9e;
//     --ion-color-danger-rgb: 255, 143, 158;
//     --ion-color-danger-contrast: #000000;
//     --ion-color-danger-contrast-rgb: 0, 0, 0;
//     --ion-color-danger-shade: #e07e8b;
//     --ion-color-danger-tint: #ff9aa8;

//     --ion-color-medium: #546980;
//     --ion-color-medium-rgb: 84, 105, 128;
//     --ion-color-medium-contrast: #ffffff;
//     --ion-color-medium-contrast-rgb: 255, 255, 255;
//     --ion-color-medium-shade: #4a5c71;
//     --ion-color-medium-tint: #65788d;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34, 36, 40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255, 255, 255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

// /*
//  * iOS Dark Theme
//  * -------------------------------------------
//  */

// .ios body {
//   --ion-background-color: #000000;
//   --ion-background-color-rgb: 0, 0, 0;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-color-step-50: #0d0d0d;
//   --ion-color-step-100: #1a1a1a;
//   --ion-color-step-150: #262626;
//   --ion-color-step-200: #333333;
//   --ion-color-step-250: #404040;
//   --ion-color-step-300: #4d4d4d;
//   --ion-color-step-350: #595959;
//   --ion-color-step-400: #666666;
//   --ion-color-step-450: #737373;
//   --ion-color-step-500: #808080;
//   --ion-color-step-550: #8c8c8c;
//   --ion-color-step-600: #999999;
//   --ion-color-step-650: #a6a6a6;
//   --ion-color-step-700: #b3b3b3;
//   --ion-color-step-750: #bfbfbf;
//   --ion-color-step-800: #cccccc;
//   --ion-color-step-850: #d9d9d9;
//   --ion-color-step-900: #e6e6e6;
//   --ion-color-step-950: #f2f2f2;

//   --ion-item-background: #000000;

//   --ion-card-background: #1c1c1d;
// }

// .ios ion-modal {
//   --ion-background-color: var(--ion-color-step-100);
//   --ion-toolbar-background: var(--ion-color-step-150);
//   --ion-toolbar-border-color: var(--ion-color-step-250);
// }

// /*
//  * Material Design Dark Theme
//  * -------------------------------------------
//  */

// .md body {
//   --ion-background-color: #121212;
//   --ion-background-color-rgb: 18, 18, 18;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-border-color: #222222;

//   --ion-color-step-50: #1e1e1e;
//   --ion-color-step-100: #2a2a2a;
//   --ion-color-step-150: #363636;
//   --ion-color-step-200: #414141;
//   --ion-color-step-250: #4d4d4d;
//   --ion-color-step-300: #595959;
//   --ion-color-step-350: #656565;
//   --ion-color-step-400: #717171;
//   --ion-color-step-450: #7d7d7d;
//   --ion-color-step-500: #898989;
//   --ion-color-step-550: #949494;
//   --ion-color-step-600: #a0a0a0;
//   --ion-color-step-650: #acacac;
//   --ion-color-step-700: #b8b8b8;
//   --ion-color-step-750: #c4c4c4;
//   --ion-color-step-800: #d0d0d0;
//   --ion-color-step-850: #dbdbdb;
//   --ion-color-step-900: #e7e7e7;
//   --ion-color-step-950: #f3f3f3;

//   --ion-item-background: #1e1e1e;

//   --ion-toolbar-background: #1f1f1f;

//   --ion-tab-bar-background: #1f1f1f;

//   --ion-card-background: #1e1e1e;
// }
// }