<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map" icon="chevron-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    Tour de Chambre is a vibrant one-day program designed to welcome new
    students to Copenhagen by inviting them to explore their new home.
  </p>
  <p>
    The program includes free access to various cultural venues, culminating in
    a gathering at Enghave Park featuring music, talks, and a range of events.
    As the evening goes on, the festivities continue with special offerings at
    some of the city’s bars and nightclubs.
  </p>

  <p>
    Tour de Chambre is organised by NusNus and Københavns Kommune as part of
    Studieby.
  </p>

  <p>
    Studieby is an initiative by Københavns Kommune providing insights and
    resources for students in Copenhagen.
    <br />
    For more information, visit
    <a href="http://studieby.kk.dk">Studieby.kk.dk</a>
  </p>

  <p>
    NusNus, the organisation behind Distortion festival, Karrusel festival, the
    club Hangaren, and a creative agency, brings its event-making expertise to
    Tour de Chambre.
    <br />
    Discover more at <a href="https://nusnus.dk">NusNus.dk</a>
  </p>
</ion-content>
